@import "milligram/dist/milligram.css";

body {
  line-height: 1;
}

.pasture-label {
  display: block;
  margin-bottom: 0.1rem;
}

.product-entry {
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

.product-entry dt div.row, .product-entry dd, .product-entry dd ul.row {
  margin: .5rem 0 .5rem 0;
}

.pasture-class legend {
  margin-bottom: 0.1rem;
}

.pasture-class-name {
  margin-bottom: 0rem;
}

.pasture-class>legend {
  border: 1px solid transparent;
}

div.pasture-class-body {
  border: 5px solid transparent;
}

.material-pick {
  background-color: rgb(219, 255, 235);
}

.material-rare {
  background-color: rgb(219, 221, 255);
}

.material-cultivation {
  background-color: rgb(255, 219, 239);
}

.material-farming {
  background-color: rgb(255, 253, 219);
}
